{% load static %}


<!--  Страница списка адресов обслуживаемого жил.фонда  -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>serviced housing stock</title>
        <link rel='stylesheet' href='{% static "serviced_housing_stock/css/styles.css" %}'>
    </head>
    <body> 
        <header>
            <table class="top">
                <tr>
                    <td class="top-col-nav-links">
                        <a href="{% url home.urls %}">{{home.text}}</a>
                    </td>
                    <td class="top-col-headname">Список обслуживаемого жил.фонда</td>
                    <td class="top-col-create">
                        {% for m in menu %}
                            <a href="{% url m.urls %}">{{m.name}}</a>
                            <br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </header>
        <table class="table-content">
            <thead>
                <th>город</th>
                <th>улица</th>
                <th>дом</th>
                <th>примичание</th>
                <th class='op-col'></th>
            </thead>
            {% for obj in object_list %}
                <tr>
                    <td>г.{{obj.city}}</td>
                    <td>ул.{{obj.street}}</td>
                    <td>д.{{obj.house}}</td>
                    <td>{{obj.note}}</td>
                    <td class='op-col'>
                        <a href="{% url upd.urls obj.pk %}">{{upd.text}}</a>
                        <form method="post">
                        {% csrf_token %}
                            <a href="{% url delete.urls obj.pk %}" class="deladdress">{{delete.text}}</a>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
<!--    =========   Пагинация страницы ============    -->
        {% if page_obj.has_other_pages %}
        <nav class="nav-pages">
            
                {% if page_obj.has_previous %}
                    <span class="num-page">
                        <a href="?page={{page_obj.previous_page_number}}">&lt;</a>
                    </span>
                {% endif %}
                
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <span class="num-page-sel">
                        <a href="?page={{p}}">{{p}}</a>
                        </span>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <span class="num-page">
                        <a href="?page={{p}}">{{p}}</a>
                        </span>
                    {% endif %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                    <span class="num-page">
                        <a href="?page={{page_obj.next_page_number}}">&gt;</a>
                    </span>
                {% endif %}
        </nav>
        {% endif %}
        
    </body>

</html>





















 
