

body{
    background: #06085D;
}

header{
    background: #090A2E;
    width: 100%;
    border-bottom: 2px solid green;
    margin-bottom: 1%;
    text-align: center;
    color: #3AD5FC;
    font-size: x-large;
}

a{
    color: #84F00A;
    text-decoration: none;
    font-size: large;
}


.content{
    margin-top: 1%;
    text-align: center;
    width: 100%
}

.content-link{
    margin-top: 1%;
}

.top{
    table-layout: fixed;
    width: 100%;
}

.top-col-login{
    width: 10%;
}


.top-col-headername{
    text-align: left;
    padding-left: 42%;
}

.note-not-login{
    font-size: xx-large;
    color: red;
    margin-top: 20%;
}
























